@import url('https://fonts.googleapis.com/css?family=Dosis')
  
.raknroll 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  max-width: 1000px
  margin: auto
  height: 100%

.logo 
  height: 40vmin

.header 
  display: flex
  flex-direction: column
  align-items: center
  font-size: calc(10px + 2vmin)
  color: white

.main
  width: 100%

.container

.paragraph
  font-size: 2rem
  margin: 40px 20px

.paragrap-2
  font-size: 1.5rem
  margin: 20px 20px

.form
  display: flex
  flex-direction: column
  align-items: center

.input
  font-size: 1rem
  padding: 20px
  margin: 10px
  width: 500px

.button-container
  display: flex
  align-items: center
  justify-content: space-around

.option-container
  display: flex
  flex-direction: column
  align-items: center

.thankyou-container
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.thankyou-link
  color: #ee1c25
  text-decoration: none

.no-results-container
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  margin: 10px
  font-size: 20px
  

.footer
  margin: 20px 0px

@media only screen and (max-width: 1000px)

  .raknroll 

  .logo 

  .header

  .main

  .container

  .paragraph
    font-size: 1.5rem
    margin: 15px 20px

  .paragrap-2
    font-size: 1.5rem

  .form

  .input
    width: 100%

  .button-container
      flex-direction: column

  .option-container
  
  .thankyou-container

  .thankyou-link

  .footer
